.hr {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

.div-main {
    width: 100vw;
    height: 100vh;
}

.nTelefone, .noTelefone {
    text-decoration: none;
    color: unset;
}

.noTelefone {
    cursor: default;
}

.nTelefone:hover {
    color: green;
}

.noTelefone:hover {
    color: unset;
}

.nav {
    gap: 1.5rem;
}

.containerzim {
    background-color: #D9D9D9;
    display: flex;
    border-radius: 20px;
    height: 90vh;
    width: 90vw;
    flex-direction: column;
    align-items: center;
}

.div-menus {
    display: flex;
    height: 90vh;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 30px 15px;
    border-radius: 20px;
}

.enois {
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: flex-end;
    height: 12%;
    --bs-gutter-x: 0rem;
    justify-content: space-between;
    z-index: 1;
}

.pesquisa {
    background-color: #333;
    width: 49.8%;
    border-radius: 15px 15px 0 0;
    margin: 0;
    height: 68%;
    position: relative;

}

.pesquisa-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.enois2 {
    background-color: #D9D9D9;
    border: 5px solid #333;
    height: 85%;
    width: 95%;
    border-radius: 0 0 15px 15px;
    padding: 5px;
    z-index: 1.5;
}


.btn-pesquisa {
    background-color: #333;
    border: none;
}

.icon-search {
    padding: 0;
    background-color: #333;
}

#v-pills-home-tab,
#v-pills-profile-tab,
#v-pills-messages-tab,
#v-pills-disabled-tab,
#v-pills-settings-tab {
    background-color: #333;
}

.nav-link {
    width: 45px;
    height: 45px;
}

.nav-link.active {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #333;
    border: solid 3px lightsalmon;
    padding: 0px;
}

.nav-link.active path {
    fill: lightsalmon;
}

.table>tbody {
    vertical-align: middle;
}

.tableFixHead {
    overflow: auto;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 0px 10px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.tableFixHead tbody th {
    position: sticky;
    left: 0;
}

.tableFixHead::-webkit-scrollbar{
    background-color: none;
    width: 10px;
    padding: 0 5px;
}

.tableFixHead::-webkit-scrollbar-thumb {
    background-color: #949494;
    border-radius: 5px;
}

td {
    white-space: nowrap;
}

.border-333 {
    border-color: #333 !important;
}

.wpp-svg {
    fill: #D9D9D9;
}

.email-svg {
    fill: #d9d9d9;
}



.modal-backdrop {
    --bs-backdrop-zindex: 1;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}

.modal.show .modal-dialog .modal-content .modal .fade .modal-xl{
    z-index: 4;
}

.modal {
    --bs-modal-zindex: 4;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: 1px;
    --bs-modal-border-radius: 0.5rem;
    --bs-modal-box-shadow: 0 0.125rem 0.25remrgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(0.5rem - 1px);
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.form-check-input {
    margin-top: 0;
    border: 1px solid #333;
}

.label-checkbox {
    padding: 1rem 1rem 1rem 1rem;
}

.table>:not(caption)>*>* {
    padding: 0rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.form-check-input:checked {
    background-color: #333;
    border-color: #d9d9d9;
}

#bototes {
    display: none;
    gap: 1.5rem;
    flex-direction: column;
}